// Place all the styles related to the fields controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.DTstring {
  background-color: #FFC7C9;
}

.DTtext {
  background-color: #FFC7C9;
}

.DTinteger {
  background-color: #EEEFAD;
}

.DTbigint {
  background-color: #EEEFAD;
}

.DTdecimal {
  background-color: #EEEFAD;
}

.DTboolean {
  background-color: #C8C7FD;
}

.DTdate {
  background-color: #FFC876;
}

.DTtime {
  background-color: #FFC876;
}

.DTtimestamps {
  background-color: #FFC876;
}