// Place all the styles related to the fields controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.DTString {
  background-color: #FFC7C9;
}

.DTText {
  background-color: #FFC7C9;
}

.DTInteger {
  background-color: #EEEFAD;
}

.DTBigint {
  background-color: #EEEFAD;
}

.DTDecimal {
  background-color: #EEEFAD;
}

.DTBoolean {
  background-color: #C8C7FD;
}

.DTDate {
  background-color: #FFC876;
}

.DTTime {
  background-color: #FFC876;
}

.DTTimestamps {
  background-color: #FFC876;
}