html,body {
  font-family: 'Open Sans', serif;
}

.content-right {

}

.home-menubar-fixed {
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.canvas {
  z-index: -1;
  width: 75%;
  background-image: url('/assets/big.png');
  position: fixed;
  top: 4em;
  bottom: 0;
  right: 0;
}

span.tab {
  padding: 1em 0 0 1em;
}

.sidebar-icons {
  color: #fffff;
  margin: 2em 1em 10px 1em;
  width: 100%;
  display: inline-block;
  text-decoration: none;
}

.displayable-table {
  padding: 1em;
  width: 20em;
}

.displayable-table-width {
  width: 18em;
}

.displayable-table-row {
  padding: 2.5px 0 2.5px 0;
  margin: 2.5px 0 2.5px 0;
}

.edit-table-modal {
  min-width: 60%;
}

// .connection-port {
//   color: transparent;
// }

.dispTable-col1 {
  width: 7%;
  margin-top: 5px;
}

.dispTable-col2 {
  width: 50%;
  text-align: left;
  margin-top: 5px;
}

.dispTable-col3 {
  width: 35%;
  text-align: left;
  margin-top: 5px;
}

.dispTable-col4 {
  width: 7%;
  text-align: right;
  margin-top: 5px;
}

.side-bar {
  width: 25%;
  position: fixed;
  top: 3em;
  bottom: 0;
  left: 0;
}

.side-form {
  width: 95%;
  padding: 0 2% 0 2%;
  margin-top: 2em;
}

.align-r {
  width: 20%;
  float: left;
  margin-top: .3em;
  border-radius: 3px;
  text-align: center;
  background-color: #778892;
  padding: .1em;
}

.menu {
  height: 90%;
  clear: both;
}

.shdw {
  box-shadow: 3px 3px 3px 0px #BBB;
}

nav > a {
  text-decoration: none;
  color: #203;
  /*padding: .1em;*/
  margin-left: .15em;
  margin-right: .15em;
}

.logo-wrapper {
  position: relative;
}

.logo-wrapper .logo {
  width: 92px;
  height:  92px;
  position: absolute;
  left: 50%;
  right: 50%;
  top: -2px;
  margin-left: -46px;
}

.top-bar-section ul.right {
  width: 50%;
  padding-left: 60px;
}

.top-bar-section ul.right li {
  float:  left;
}

.top-bar-section ul.left {
  width:  50%;
  padding-right: 60px;
}

.top-bar-section ul.left li {
  float:  right;
}

.small-italic {
  font-size: 85%;
  font-style: italic;
  padding: 0 0 0 0;
  margin-top: 0 0 0 0;
}

.bordered {
  border: 1px solid black;
}

.no-border {
  border: none;
}

.centered {
  text-align: center;
}

.to-left {
  text-align: left;
}

.to-right {
  text-align: right;
}

.pad-vert {
  padding-top: 2em;
  padding-bottom: 2em;
}

.pad-right {
  padding-right: 10px;
}

.big-pad-right {
  padding-right: 25px;
  padding-left: 15px;
}

.pad-left {
  padding-left: 10px;
}

.pad-top {
  padding-top: 10px;
}

.no-pad {
  padding: 0 0 0 0;
}

.no-pad-top {
  padding-top: 0;
}

.no-pad-bottom {
  padding-bottom: 0;
}

.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-all {
  margin: 10px 10px 10px 10px;
}

.no-margin {
  margin: 0 0 0 0;
}

.no-margin-top {
  margin-top: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}

.small-margins {
  margin-top: .1em;
  margin-bottom: .1em;
}

.hidden {
  display: none;
}

.line-break {
  border-bottom: 1px solid black;
  width: 98%;
  padding: 3px 0 3px 0;
  clear: both;
}

.center-h {
/*  display: block;
  margin: 0 auto;
  background-color: blue;*/
  text-align: center;
}

.center-v {
  margin-top: 15%;

}
// .white {
//   background-color: white;
// }

.form-head-logo {
  margin: 3em 0 0 0;
  padding:  0;
  text-align: center;
  color: #09277A;
  font-weight: 500;
  text-shadow: 1px 1px 1px #888;
}

.thumbnail{
  display: inline-block;
  width: 15%;
  height: 55%;
  margin-left: 1em;
  text-align: center;
  background-color: #C1C1C1;
}

.blue{
  background-color: #6C97BD;
}

.blue-logo {
  color: #2d3e50;
}

.light-blue-logo {
  color: #6C97BD;
}

.blue-button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #6C97BD;
    text-decoration: none;
    border-radius: 2px;
}

.home-menu {
  background: #2d3e50;
  padding: 0.5em;
  text-align: right;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.pure-menu .pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    // z-index: 4;
    height: 10em;
  }

  .home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
  }

  .home-menu .pure-menu-selected a {
    color: white;
  }

  .home-menu a {
    color: #6FBEF3;
  }

  .home-menu li a:hover,
  .home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
  }

  .debug {
    border: 1px solid red;
  }

  .banner-override {
  height: 17em !important;
  }

  .footer {
    width: 100%;
    height: 25em;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url('/assets/grey.png');
    text-shadow: 1px 1px #888;
    color: #09277A;
  }
