html,body {
  font-family: 'Open Sans', serif;
}

.canvas {
  height: 55em;
  width: 100%;
  background-image: url('/assets/big.png');
}

.align-r {
  width: 20%;
  float: left;
  margin-top: .3em;
  border-radius: 3px;
  text-align: center;
  background-color: #778892;
  padding: .1em;
}

.menu {
  height: 90%;
  clear: both;
}

.shdw {
  box-shadow: 3px 3px 3px 0px #BBB;
}

nav > a {
  text-decoration: none;
  color: #203;
  /*padding: .1em;*/
  margin-left: .15em;
  margin-right: .15em;
}

.logo-wrapper {
    position: relative;
  }

  .logo-wrapper .logo {
    width: 92px;
    height:  92px;
    position: absolute;
    left: 50%;
    right: 50%;
    top: -2px;
    margin-left: -46px;
  }

  .top-bar-section ul.right {
    width: 50%;
    padding-left: 60px;
  }

  .top-bar-section ul.right li {
    float:  left;
  }

  .top-bar-section ul.left {
    width:  50%;
    padding-right: 60px;
  }

  .top-bar-section ul.left li {
    float:  right;
  }

.small-italic {
  font-size: 85%;
  font-style: italic;
  padding: 0 0 0 0;
  margin-top: 0 0 0 0;
}

.side-bar {
  width: 350px;
}

.bordered {
  border: 1px solid black;
}

.no-border {
  border: none;
}

.centered {
  text-align: center;
}

.to-left {
  text-align: left;
}

.to-right {
  text-align: right;
}

.pad-vert {
  padding-top: 2em;
  padding-bottom: 2em;
}

.pad-right {
  padding-right: 10px;
}

.pad-left {
  padding-left: 10px;
}

.pad-top {
  padding-top: 10px;
}

.no-pad {
  padding: 0 0 0 0;
}

.no-pad-top {
  padding-top: 0;
}

.no-pad-bottom {
  padding-bottom: 0;
}

.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-all {
  margin: 10px 10px 10px 10px;
}

.no-margin {
  margin: 0 0 0 0;
}

.no-margin-top {
  margin-top: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}

.small-margins {
  margin-top: .1em;
  margin-bottom: .1em;
}

.hidden {
  display: none;
}

.line-break {
  border-bottom: 1px solid black;
  width: 98%;
  padding: 3px 0 3px 0;
}

.center-h {
/*  display: block;
  margin: 0 auto;
  background-color: blue;*/
  text-align: center;
}

.center-v {
  margin-top: 15%;

}
.white {
  background-color: white;
}

.banner {
    background: transparent url('grid.png') 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg', sizingMethod='scale');

    height: 350px;
    width: 100%;
    margin-bottom: 0em;
    display: table;
}
.banner-head {
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0;
        font-size: 5em;
        color: #09277A;
        font-weight: 500;
        text-shadow: 1px 1px 1px #888;
}

.thumbnail{
  display: inline-block;
  width: 15%;
  height: 55%;
  margin-left: 1em;
  text-align: center;
  background-color: #C1C1C1;
}

.bottom-3rd{
  height: 30em;
  margin-bottom: 0em;
  background-color: #02182B;
}

.blue{
    background-color: #6C97BD;
}


.home-menu {
    padding: 0.5em;
    text-align: right;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #2d3e50;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

.debug {
  border: 1px solid red;
}
