.debug {
  border: 1px solid red;
}

.canvass {
  height: 50em;
  width: 98%;
  margin-left: 1%;
  background-image: url('/assets/paisley.png');
}

.align-r {
  width: 20%;
  margin-right: 83%;
  margin-top: .3em;
  border-radius: 3px;
  text-align: center;
  background-color: #778892;
  padding: .1em;
}
.menue {
  height: 90%;
}

.shdw {
  box-shadow: 3px 3px 3px 0px #BBB;
}

nav > a {
  text-decoration: none;
  color: #203;
  /*padding: .1em;*/
  margin-left: .15em;
  margin-right: .15em;

}
