
<div id="example-tabs">
    <h3>Keyboard</h3>
    <section>
        <p>What is needed to transform it to a tabs component? Not much. Just override some properties and done.</p>

        <pre class="prettyprint linenums">
          $("#wizard").steps({
              // Disables the finish button (required if pagination is enabled)
              enableFinishButton: false,
              // Disables the next and previous buttons (optional)
              enablePagination: false,
              // Enables all steps from the begining
              enableAllSteps: true,
              // Removes the number from the title
              titleTemplate: "#title#"
          });
        </pre>

    </section>

    <h3>One to Many Relationships</h3>

    <section>

        <p>Scroll down or up to see the other demos.</p>

    </section>

    <h3>Documentation</h3>

    <section>

        <p>For more information <a href="https://github.com/rstaib/jquery-steps/wiki">check out the documentation</a>!</p>

    </section>

    <h3>Download</h3>

    <section>

        <p>See on getting started!</p>

    </section>
</div>