<div id="bg">
  <div id="search-container">
    <div id="search-bg"></div>
    <div id="search">
      <div class="page-header">
        <h2 class="banner-head">"Active Schema Designer"</h2>
      </div>
      <br>
      <%= render 'form', action: "New User" %>
      <br/>

    </div>
  </div>
</div>