<div class="canvass debug">
<div class="nav-bar align-r shdw debug">
  <nav><%= link_to "New Schema", "#" %><%= link_to "Log Out", "#" %><%= link_to "Save", "#" %></nav>
</div>
<div class="menue align-r shdw debug">
stuff in here
</div>
</div>
