<div class="canvas debug">


<%= render '/tables/form' %>

  <% if @tables != ["No Tables"] %>
    <% @tables.each do |table| %>
        <%= render partial: '/tables/show', locals: { table: table} %>
    <% end %>
  <% end %>
</div>
