<button>
  <span></span>
  <span></span>
  <span></span>
</button>
<p>hover & hold me down</p>

<style>
body {
  background: #F26451;
}

p {
  position:absolute;
  top:50%;
  left:50%;
  color:#fff;
  text-transform:uppercase;
  letter-spacing:4px;
  font-size:10px;
  font-family:"helvetica" sans;
  text-align:center;
  margin-top:45px;
  margin-left:-85px;
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transition: all 300ms cubic-bezier(.61, .01, .42, 1);
  cursor: pointer;
  background: transparent;
  border: 0px;
}

span {
  height: 0px;
  border: 1.5px solid #fff;
  width: 22px;
  display: block;
  position: absolute;
  transition: all 300ms cubic-bezier(.61, .01, .42, 1);
}

button:hover {
  transition-delay: 100ms;
  transform: scale(1.1);
}

button:hover span:nth-child(3):before {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #F26451;
}

button:hover span {
  border: 2px solid #fff;
  height: 9px;
  border-radius: 50%;
  margin-left: -1px;
  margin-top: 2px;
  animation: atom 300ms linear 1;
  width: 25px;
  top: 0px;
}

button:focus {
  outline: 0px;
}

span:nth-child(1) {
  top: 0px;
}

span:nth-child(2) {
  top: 8px;
}

span:nth-child(3) {
  top: 16px;
}

span:nth-child(3):before {
  opacity: 0;
  animation: ball 1.5s linear infinite;
  content: '';
  border: 2px solid #fff;
  display: block;
  position: relative;
  top: 0.25px;
}

button:hover span:nth-child(1) {
  transform: rotate(-33deg);
}

button:hover span:nth-child(2) {
  transform: rotate(90deg);
}

button:hover span:nth-child(3) {
  transform: rotate(33deg);
}

button:hover span:nth-child(3):before {
  opacity: 1;
  transition: opacity 600ms cubic-bezier(.61, .01, .42, 1);
  ;
}

button:active:hover span:nth-child(3):before,
button:active span:nth-child(3):before,
button:active span:nth-child(2) {
  opacity: 0;
  transition: all 200ms;
}

button:active span {
  border: 1.5px solid #fff;
  height: 0px;
  border-radius: 0%;
  margin-left: -1px;
  margin-top: 6px;
  animation: division 300ms linear 1;
  width: 25px;
  top: 0px;
}

button:active span:nth-child(2) {
  width: 0px;
}

button:active span:nth-child(3) {
  transform: rotate(45deg);
}

button:active span:nth-child(1) {
  transform: rotate(-45deg);
}

@keyframes atom {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes division {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes ball {
  0% {
    left: -20%;
    top: 10%;
  }
  10% {
    left: 10%;
    top: -35%;
  }
  25% {
    left: 45%;
    top: -50%;
  }
  40% {
    left: 80%;
    top: -20%;
  }
  50% {
    left: 98%;
    top: 18%;
  }
  60% {
    left: 80%;
    top: 50%;
  }
  75% {
    left: 45%;
    top: 75%;
  }
  90% {
    left: 0%;
    top: 50%;
  }
  100% {
    left: -20%;
    top: 10%;
  }
}
</style>