<% tables ||= @tables %>
<div class="canvas" id="canvas">
  <% @project.tables.each do |table| %>
    <%= render partial: '/tables/show', locals: { table: table } %>
  <% end %>
</div>

<script>
window.project = <%= @project.to_json({:include => [:tables => {:include => :relationships}]}).html_safe %>;
</script>