<div class="large-10 large-centered columns">
  <div class="login-box">
    <div class="header">
      <h3 class="subheader"><i class="fa fa-user fa-2x"></i> Login</h3>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= form_tag '/login' do %>
           <div class="row">
             <div class="large-12 columns">
                <span><i class="fa fa-arrow-circle-right fa-1x"></i> Login</span>
                <span><%= text_field_tag :email %></span>
             </div>
           </div>
          <div class="row">
             <div class="large-12 columns">
                <span><i class="fa fa-arrow-circle-right fa-1x"></i> Password</span>
                <%= password_field_tag :password, "Password" %>
             </div>
          </div>
          <div class="row">
            <div class="large-12 large-centered columns">
              <%= submit_tag "Login", class: "button expand" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>